body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Table1
{
   border-radius: 1px;
   border: 0px solid #111111;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td, #Table1 th
{
   padding: 0;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 154px;
}
#Table1 .cell1
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 104px;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table1 .cell2
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 110px;
   color: #000000;
   font-family: Arial;
   font-size: 15px;
   line-height: 16.5px;
}
#Table1 .cell3
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 160px;
}
#Table1 .cell4
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 224px;
}
#Table1 .cell5
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 60px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table1 .cell6
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 404px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell7
{
   
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 480px;
   height: 296px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell8
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 296px;
   color: #000000;
   font-family: Arial;
   font-size: 15px;
   line-height: 16.5px;
}
#Table2
{
   border-radius: 0px;
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table2 td, #Table2 th
{
   padding: 0;
}
#Table2 td div
{
   white-space: nowrap;
}
#Table2 p, #Table2 ul
{
   margin: 0;
   padding: 0;
}
#Table2 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: right;
   vertical-align: top;
   height: 20px;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table2 .cell1
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: top;
   height: 42px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table2 .cell2
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: top;
   height: 70px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table3
{
   border-radius: 0px;
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table3 td, #Table3 th
{
   padding: 0;
}
#Table3 td div
{
   white-space: nowrap;
}
#Table3 p, #Table3 ul
{
   margin: 0;
   padding: 0;
}
#Table3 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 282px;
   height: 26px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table3 .cell1
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 26px;
   color: #000000;
   font-family: arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell2
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 282px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell3
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 164px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell4
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 166px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell5
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell6
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 282px;
   height: 24px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table3 .cell7
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 164px;
   height: 24px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell8
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 166px;
   height: 24px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell9
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 24px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell10
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: top;
   width: 164px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell11
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: top;
   width: 166px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell12
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: top;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4
{
   border-radius: 0px;
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table4 td, #Table4 th
{
   padding: 0;
}
#Table4 td div
{
   white-space: nowrap;
}
#Table4 p, #Table4 ul
{
   margin: 0;
   padding: 0;
}
#Table4 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 188px;
   height: 24px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table4 .cell1
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 140px;
   height: 24px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell2
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 24px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell3
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 188px;
   height: 20px;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table4 .cell4
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 140px;
   height: 20px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell5
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 20px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell6
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 140px;
   height: 24px;
}
#Table4 .cell7
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 24px;
}
#Table4 .cell8
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 188px;
   height: 20px;
   color: #000000;
   font-family: Arial;
   font-size: 15px;
   line-height: 16.5px;
}
#Table4 .cell9
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 140px;
   height: 20px;
}
#Table4 .cell10
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 20px;
}
#Table5
{
   border-radius: 0px;
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table5 td, #Table5 th
{
   padding: 0;
}
#Table5 td div
{
   white-space: nowrap;
}
#Table5 p, #Table5 ul
{
   margin: 0;
   padding: 0;
}
#Table5 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 234px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table5 .cell1
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table5 .cell2
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: top;
   width: 234px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table5 .cell3
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 28px;
}
#Table5 .cell4
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: top;
   width: 234px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table5 .cell5
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: top;
   width: 234px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 15px;
   line-height: 16.5px;
}
#Table6
{
   border: 1px solid #111111;
   border-radius: 0px;
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table6 td, #Table6 th
{
   padding: 0;
}
#Table6 td div
{
   white-space: nowrap;
}
#Table6 p, #Table6 ul
{
   margin: 0;
   padding: 0;
}
#Table6 .cell0
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 56px;
   height: 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell1
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 72px;
   height: 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell2
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 74px;
   height: 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell3
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 72px;
   height: 92px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell4
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 60px;
   height: 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell5
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 66px;
   height: 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell6
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 64px;
   height: 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell7
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 68px;
   height: 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell8
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell9
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 56px;
   height: 18px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell10
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 72px;
   height: 18px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell11
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 74px;
   height: 18px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell12
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 60px;
   height: 18px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell13
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 66px;
   height: 18px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell14
{
   
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 64px;
   height: 18px;
   color: #F8F9FA;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell15
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 68px;
   height: 18px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell16
{
   border: 1px solid #111111;
   background-color: #4F4F4F;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 18px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell17
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 56px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell18
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 72px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell19
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 74px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell20
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 60px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell21
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 66px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table6 .cell22
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 64px;
   height: 18px;
}
#Table6 .cell23
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 72px;
   height: 18px;
}
#Table6 .cell24
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 68px;
   height: 18px;
}
#Table6 .cell25
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   height: 18px;
}
#Table6 .cell26
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 74px;
   height: 18px;
}
#Table6 .cell27
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 56px;
   height: 18px;
}
#Table6 .cell28
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 60px;
   height: 18px;
}
#Table6 .cell29
{
   border: 1px solid #111111;
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   width: 66px;
   height: 18px;
}
